*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 500;
    --fw-bolder: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 2.9rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.7rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
    /* border: 2px solid green; */
    width: 100%;      
}


@media (min-width: 321px){

    /* :root {
        --fs-h1: 3.4rem;
        --fs-h2: 1.3rem;
        --fs-h3: 1.3rem;
        --fs-body: 1.3rem;
    } */
    
}


body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}


section{
    /* border: 1px solid black; */
    padding: 5em 2em;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

strong { 
    font-weight: var(--fw-bolder);
}

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bolder);
    transition: transform 300ms ease;
    /* border: 2px solid red; */
    margin-top: 3em;
}

.btn:hover {
    transform: scale(1.1);
}

button:focus {
    outline:0 !important;
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

/* body{
    overflow-x: hidden;
} */

header{
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--clr-dark);
    height: 10vh;
    align-items: center;
    /* border: 2px solid yellow; */
    /* font-size: 1rem; */
    /* position: fixed; */
    /* right: 0px; */
    width: 100%;
}

.nav__icon{
    color: var(--clr-light);
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    font-weight: var(--fw-bold);
    font-size: 100%;
    width: 80%;
    /* border: 2px solid yellow; */

    margin-left: 5%;
}

.nav__list{
    position: absolute;
    /* align-self: flex-end; */
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
    /* border: 2px solid red; */
    /* top: 0px; */
    height: 90vh;
    top: 10vh;
    background-color: var(--clr-dark);
    z-index: 5;
    width: 100%;
    /* transform: translateX(100%); */
    transition: transform 0.5s ease-in;
}

.nav__list li{
    list-style: none;
    opacity: 0;
    /* border: 2px solid red; */
}

.nav__list li a{
    text-decoration: none;
    color: var(--clr-accent);
    font-weight: var(--fw-reg);
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    /* text-shadow: var(--clr-dark) 1px 0 10px; */
    /* -webkit-text-stroke: 0.25px black; */
    /* text-shadow: 2px 2px var(--clr-dark); */
}

.nav__active{
    transform: translateX(0%);
    display: flex;

}

.burger{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    margin-right: 5%;
    cursor: pointer;
    
}

.burger div{
    width: 25px;
    background-color: var(--clr-light);
    height: 3px;
    transition: all 0.5s ease;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.cross .line1{
    transform: translate(0vh,1.6vh) rotate(-45deg);
}

.cross .line2{
    opacity: 0;
}

.cross .line3{
    transform: translate(0vh,-1.7vh) rotate(45deg);
}

.section__title-name {
    margin-bottom: 0.5em;
    font-size: var(--fs-h1);
    /* text-transform: uppercase; */
}

.section__title {
    margin-bottom: 1.5em;
    font-size: var(--fs-h1);
    /* text-transform: uppercase; */
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro
{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    text-transform: uppercase;
}


.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
}

.section__title--about{
    /* border: 2px solid red; */
    font-weight: var(--fw-bolder);
    color: var(--clr-accent);
}

.about__me__desc{
    /* border: 2px solid red; */
    text-align: left;
    margin: 0px 1.5em;
    color: var(--clr-light);
}

.section__title--about::after{
    content: '';
    position: relative;
    /* border: 1px solid white; */
    /* left: 0; */
    display: inline-block;
    /* margin: 0px auto; */
    height: .1em;
    /* left: 1em; */
    width: 60%;
    left: 20%;
    border-bottom: 1px solid var(--clr-accent);
    /* margin-top: 15px; */
    /* background-color: yellow; */
    /* border: 2px solid yellow; */
}


.intro__img {
    box-shadow: var(--bs);
}


.section__subtitle--intro {
    display: inline-block;
    font-size: 1.134rem;
}


.section__skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-h2);
    padding: 2em 2em;
    /* background-color: var(--clr-light); */
}

.section__title--skill{
    /* background-color: var(--clr-accent); */
    /* border: 2px solid black; */
    /* margin-bottom: 5rem; */
    font-weight: var(--fw-bolder);
}

.section__title--skill::after{
    content: '';
    position: relative;
    /* left: 0; */
    display: inline-block;
    /* margin: 0px auto; */
    height: .1em;
    width: 60%;
    left: 20%;
    border-bottom: 1px solid var(--clr-dark);
}

.skill__list{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    /* justify-content: space-between; */
    /* margin-top: 0.5em; */
    align-items: center;
}

.skill{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 2.5em;
    /* margin: 2rem; */
}

.img--skill{
    /* border: 2px solid black; */
    margin-bottom: 0.5em;
    /* height: 20px;
    width: 20px; */
    
}

.skill-name{
    /* padding-top: 1em; */
    font-size: var(--fs-h2);
    /* border: 2px solid black; */
}

/*---------------- PROJECT SECTION -----------------------------*/

.section__project{
    background-color: var(--clr-dark);
    display: flex;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    /* border: 2px solid lightsalmon; */
    /* padding: 2em; */
    /* margin: 1em; */
    width: 100%;
}

.section__title--project{
    color: var(--clr-accent);
    /* border: 2px solid black; */
    /* text-align: center; */
}

.section__title--project::after{
    content: '';
    position: relative;
    /* border: 1px solid white; */
    /* left: 0; */
    display: inline-block;
    /* margin: 0px auto; */
    height: .1em;
    /* left: 1em; */
    width: 60%;
    left: 20%;
    border-bottom: 1px solid var(--clr-accent);
}

.project__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid RED; */
    /* margin-left: 2em;  */
}

.project-name{
    /* border: 2px solid pink; */
    /* font-size: 1.7em; */
    font-weight: var(--fw-bolder);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
    letter-spacing: .05em;
    margin: 1.5em 0px;
    margin-top: 0px;
    /* padding: 0px; */
    /* margin-left: 0px; */
    /* font-size: var(--fs-h2); */
    /* font-size: var(--fs-h2);
    font-weight: var(--fw-bolder);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    margin: 1em 0px;
    text-align: center;
    line-height: 1.2em;
    letter-spacing: .1em; */
}

/* .project1 > .project-name{
    margin-top: 0px;
} */

.project{
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    /* padding: 2em; */
}

.project:last-child{
    margin-bottom: 0em;
}

.img--project{
    /* border: 2px solid black; */
    /* margin-bottom: 2em; */
    /* padding: 2em; */
    /* min-width: 200px; */
}

.project-desc{
    /* border: 2px solid black; */
    text-align: center;
    margin: 2em 0px;
}

.tech-stack__list{
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding: 1em; */
    /* align-items: center; */

}

.tech-stack{
    border: 2px solid var(--clr-accent);
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-block;
    padding: .5em 2.5em;
    /* background: var(--clr-accent); */
    color: var(--clr-accent);
    text-decoration: none;
    /* cursor: pointer; */
    font-size: .7rem;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-reg);
    border-radius: 1em;
    
    /* transition: transform 200ms ease-in-out; */
}

.section__contact{
    background-color: var(--clr-light);
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-dark);
}


.section__title--contact{
    color: var(--clr-dark);
    /* border: 2px solid black; */
}

.section__title--contact::after{
    content: '';
    position: relative;
    /* border: 1px solid rgb(143, 79, 79); */
    /* left: 0; */
    display: inline-block;
    /* margin: 0px auto; */
    height: .1em;
    /* left: 1em; */
    width: 60%;
    left: 20%;
    border-bottom: 1px solid var(--clr-dark);
}

.contact-desc{
    /* border: 1px solid red; */
    /* margin-top: .5em; */
    font-weight: var(--fw-reg);
    margin-bottom: 1em;
    text-align: center;
}

.contact--details{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    margin-bottom: 1.4em;
}

.contact-icon{
    /* border: 1px solid purple; */
    padding: 1em;
}

.fas{
    margin-right: 1em;
    font-size: 1.3rem;
}

.contact-social-icons{
    /* border: 1px solid purple; */
    padding: 0px 1em;
}

.fab{
    /* border: 1px solid black; */
    font-size: 1.9rem;
    padding: .5em;
    color: var(--clr-dark);
}



/*!!!!!!!!!!!!!!!!---- MOBILE-M -------!!!!!!!!!!!*/ 


@media (min-width: 321px){

    :root {
        --fs-h1: 3.4rem;
        --fs-h2: 1.3rem;
        --fs-h3: 2rem;
        --fs-body: 1.3rem;
    }

    .section__subtitle--intro{
        font-size: 1.29rem;
    }

    .btn{
        font-size: 1em;
    }
    
    .section__skill{
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .about-me{
        padding-left: 1em;
        padding-right: 1em;
    }

    .skill-name{
        font-size: var(--fs-h3);
        margin-top: .5em;
    }

    .tech-stack{
        font-size: .6em;
    }
}


/*!!!!!!!!!!!!!!!!---- MOBILE-L -------!!!!!!!!!!!*/ 


@media (min-width: 376px){

    :root {
        --fs-h1: 4rem;
        --fs-h2: 1.3rem;
        --fs-h3: 2.2rem;
        --fs-body: 1.3rem;
    }

    .section__title{
        font-size: var(--fs-h1);
    }

    .section__subtitle--intro{
        font-size: 1.518rem;
    }

    .btn{
        font-size: 1em;
    }

    .cross .line1{
        transform: translate(0vh,1.6vh) rotate(-45deg);
    }
    
    .cross .line2{
        opacity: 0;
    }
    
    .cross .line3{
        transform: translate(0vh,-1.99vh) rotate(45deg);
    }
    
    /* .section__skill{
        padding-top: 4em;
        padding-bottom: 4em;
    } */

    .about-me{
        padding-left: 1em;
        padding-right: 1em;
    }

    .skill-name{
        font-size: var(--fs-h3);
        margin-top: .5em;
    }

    .tech-stack{
        font-size: .7em;
    }

    .project-name{
        font-size: 1.79em;
        /* letter-spacing: .2em; */
    }
}


/*!!!!!!!!!!!!!!!!---- TABLET -------!!!!!!!!!!!*/ 


@media (min-width: 426px){

    :root {
        --fs-h1: 4.3rem;
        --fs-h2: 1.7rem;
        --fs-h3: 3rem;
        --fs-body: 1.5rem;
    }

    .nav__icon{
        font-size: 1em;
    }

    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        /* height: 90vh; */
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        /* border: 2px solid black; */
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }  

    section{
        /* padding: 4em 3em; */
    }

    .section__subtitle--intro {
        /* border: 2px solid black; */
        /* grid-area: subtitle; */
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .section__title{
        font-size: var(--fs-h1);
    }

    .section__subtitle--intro{
        font-size: 1.518rem;
    }

    .btn{
        font-size: .8em;
    }

    .cross .line1{
        transform: translate(0vh,1.6vh) rotate(-45deg);
    }
    
    .cross .line2{
        opacity: 0;
    }
    
    .cross .line3{
        transform: translate(0vh,-1.99vh) rotate(45deg);
    }
    
    /* .section__skill{
        padding-top: 4em;
        padding-bottom: 4em;
    } */

    .about-me{
        /* padding-left: 1em;
        padding-right: 1em; */
        padding: 4em 3em;
    }


    .section__skill{
        /* border: 1px solid yellow; */
        padding-bottom: 2em;
    }

    .section__title--skill{
        margin-bottom: 1em;
        /* border: 1px solid red; */
    }

    .skill__list{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* width: 20%; */
        /* width: 100%; */
        /* margin-top: 2em; */
        align-items: center;
        justify-content: center;
    }

    .skill{
        /* border: 1px solid green; */
        /* width: 40%; */
        min-width: 20%;
        max-width: 33.33%;
        padding: 1.5em;
    }

    .img--skill{
        /* border: 1px solid green; */
    }

    .skill-name{
        font-size: 1em;
        margin-top: .5em;
        /* border: 1px solid green; */
    }

    .tech-stack{
        font-size: .7em;
    }

    .project-name{
        font-size: 1.79em;
        /* letter-spacing: .2em; */
    }

    .section__project{
        padding: 4em 4em;
    }

    .section__title--project{
        /* border: 1px solid green; */
        margin-bottom: 1.2em;
    }

    .project-name {
        font-size: var(--fs-h3);
        letter-spacing: .19em;
        /* border: 1px solid green; */
    }

    .project{
        margin-bottom: 5em;
        /* border: 1px solid green; */
    }


}


/*!!!!!!!!!!!!!!!!---- LAPTOP -------!!!!!!!!!!!*/ 


@media (min-width: 769px){

    :root {
        --fs-h1: 4.3rem;
        --fs-h2: 1.7rem;
        --fs-h3: 3rem;
        --fs-body: 1rem;
    }

    .nav__icon{
        /* border: 2px solid red; */
        width: 35%;
        font-size: 1em;
    }

    section{
        width: 100%;
        /* border: 2px solid red; */
    }

    body { 
        
     }

    html{
        /* border: 2px solid yellow; */
    }

    .nav__list{
        /* border: 2px solid red; */
        position: static;
        display: flex;
        flex-direction: row;
        transform: none;
        /* top: 0px; */
        height: 100%;
        width: 100%;
        width: 70%;
        /* opacity: 1; */
    }

    .nav__list li{
        opacity: 1;
        
        /* border: 2px solid red; */
    }

    .burger{
        display: none;
    }

    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        /* height: 90vh; */
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        /* border: 2px solid black; */
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }  

    section{
        /* padding: 4em 3em; */
    }

    .section__subtitle--intro {
        /* border: 2px solid black; */
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .section__title{
        font-size: var(--fs-h1);
    }

    .section__subtitle--intro{
        font-size: 1.518rem;
    }

    .btn{
        font-size: .8em;
    }

    
    /* .section__skill{
        padding-top: 4em;
        padding-bottom: 4em;
    } */

    .about-me{
        /* padding-left: 1em;
        padding-right: 1em; */
        padding: 4em 6em;
    }

    .section__title--about{
        margin-bottom: 1em;
        /* border: 1px solid yellow; */
    }

    .about__me__desc{
        /* border: 1px solid yellow; */
        margin-bottom: 1em;
        /* margin-top: 0px; */
    }


    .section__skill{
        /* border: 1px solid yellow; */
        padding-bottom: 2em;
    }

    .section__title--skill{
        margin-bottom: .7em;
        /* border: 1px solid red; */
    }

    .skill__list{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* width: 20%; */
        /* width: 100%; */
        /* margin-top: 2em; */
        align-items: center;
        justify-content: center;
    }

    .skill{
        /* border: 1px solid green; */
        /* width: 40%; */
        min-width: 20%;
        max-width: 20%;
        padding: 2.5em;
    }

    .img--skill{
        /* border: 1px solid green; */
    }

    .skill-name{
        font-size: 1em;
        margin-top: .5em;
        /* border: 1px solid green; */
    }

    /* .tech-stack{
        font-size: .7em;
    } */

    /* .project-name{
        font-size: 1.79em;
    } */

    .section__project{
        padding: 5em 8em;
        /* border: 1px solid yellow; */
    }

    /* .section__title--project{
        margin-bottom: 1.2em;
    } */

    .project__list{
        /* border: 1px solid green; */
        padding: 1em;
        /* margin: 1em; */
    }

    /* .project-name {
        font-size: var(--fs-h3);
        letter-spacing: .19em;
    } */

    .project{
        /* border: 1px solid red; */
        margin-bottom: 8em;
        width:100%;
        display: grid;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-areas: 
            "img title"
            "img github"
            "img desc"
            "tag tag";
        grid-template-columns: min-content;
        /* grid-template-rows: max-content; */
        position: relative;
        
    }

    .project-name {
        grid-area: title;
        /* border: 2px solid red; */
        margin: 0px;
        /* height: 10%; */
        width: 100%;
        font-size: 1.5em;
    }

    

    .img--project{
        grid-area: img;
        /* border: 2px solid red; */
        margin-top: 0px;
        object-fit: contain;
        /* height: min-content; */
        min-width: 500px;
        /* position: absolute; */
        max-width: 500px;
        
    }

    .project-desc{
        grid-area: desc;
        /* border: 2px solid orange; */
        margin: 0px;
        /* padding: 1em; */
    }

    /* span{
        grid-area: y;
    } */

    

    .project--github {
        grid-area: github;
        /* border: 2px solid navajowhite; */
        display: inline-block;
        /* margin: 1em auto; */
        height: 100%;
        margin: 0px;
        display: inline-block;
        text-align: center;
        width: 50%;
        text-decoration: none;
        position: relative;
        left: 25%;
        letter-spacing: .1em;
        padding-left: 0px;
        padding-right: 0px;
    }


    .tech-stack__list{
        grid-area: tag;
        margin-top: 1em;
    }
   

    .section__title--contact{
        margin-bottom: 1em;

    }

}



